<head>
    <!DOCTYPE html>
    <html lang="en">
    <title>Mavis Storm</title>
    <link rel="canonical" href="https://mavisstorm.com/">
    <link rel="image_src" href="image url" />
    <meta name="robots" content="noindex">
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Nacaise Basford">
    <meta name="description" content="This is a site where I can share my daughter's photos to our family. We have a vast family spread across 5 different states and not all family have a social media account; that I know of.">
    <script src="https://kit.fontawesome.com/837fc343fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>