<head>
    <!DOCTYPE html>
    <html lang="en">
    <title>

    </title>
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="#">
    <meta name="description" content="#">

    <script src="https://kit.fontawesome.com/837fc343fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>