 <!-- Nav Menu -->
<div id="circularMenu" class="circular-menu">
    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <i class="fa fa-plus"></i>
    </a>
    <menu class="items-wrapper">
        <a href="../../../THIS/index.html" class="menu-item fa fa-home"></a>
        <a href="../mavis/mavis.html" class="menu-item fa-solid fa-m"></a>
        <a href="../nacaise/nacaise.html" class="menu-item fa-solid fa-n"></a>
        <a href="../dimmick/dimmick.html" class="menu-item fa-solid fa-d"></a>
    </menu>
</div>
<!---->